/*.home-container {
    text-align: center;
    margin-top: 60px;
  }
  
  .home-title {
    font-size: 2.5rem;
    color: #1e293b;
  }
  
  .home-subtitle {
    font-size: 1.2rem;
    color: #64748b;
  }
  