.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f7f6f4; */
    background-color: #FAFAFA;
    padding: 20px 60px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  }
  /* .navbar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  } */
  
  /* body:has(.navbar) .navbar::after {
    opacity: 1;
  } */
  
  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #263238;
    text-decoration: none;
      
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #263238;
    font-size: 1rem;
    transition: color 0.2s;
  }
  
  .nav-links li a:hover {
    color: #6b7280;
  }
  
  .book-btn {
    background-color: #00BCD4;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #263238;
    transition: background-color 0.2s;
  }
  
  .book-btn:hover {
    background-color: #00BCD4;
  }
  