.services-section {
    background-color: #000000;
    color: #fff;
    padding: 0px 0px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding-top: 20px;
    /* border: 2px solid #ff0000; */
    /* height: 150vh; */
  }
  
  .services-heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 60px;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .service-card {
    background-color: #1c1c1c;
    border-radius: 16px;
    padding: 40px 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    text-align: left;
    position: relative;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: #f0f0f0;
    color: #000;
    border-radius: 10px;
    padding: 6px 10px;
   
  }
  
  .service-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px 0 10px;
  }
  
  .service-description {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.6;
  }
  .divider-diagonal-service-section {
    
    
  }
  

